* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    /* flex-flow: <flex-direction> <flex-wrap> */
    /* flex-flow: row wrap; */
    /* justify-content: flex-end; */
    /* align-items: space-between; */
    justify-content: flex-start;
    align-items: flex-end;
    width: 400px;
    height: 400px;
    background-color: rgb(107, 131, 150);
}

.item {
    background-color: aqua;
    width: 40px;
    height: 50px;
}

.container-reto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-reto>h1 {
    color: #025157;
    font-weight: 1000;
}

.container-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.item-card {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
}

.item-card>img {
    width: 120%;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article {
    /* background-color: aquamarine;
    margin: 10px;
    width: 40%;
    height: 50px; */
}

.cuadricula {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cuadricula>article {
    display: grid;
    border: solid black;
    text-align: center;
    margin: 30px;
}

.primero {
    background-color: aquamarine;
}

.segundo {
    background-color: white;
}

.tercero {
    background-color: yellow;
}

.cuarto {
    background-color: blue;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header' 
    'main main right menu' 
    'footer footer footer footer';
    gap: 10px;
    background-color: burlywood;
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(77, 155, 167, 0.8);
    text-align: center;
    padding: 20px 0;
    font-style: 30px;
    height: 250px;
}


.headerMatcha {
    grid-area: headerMatcha;
    display: grid;
    grid-template-columns: 2fr 8fr 3fr;
    align-items: center;
    padding: 30px 5%;
}

.headerMatcha a {
    color: #025157;
    text-decoration: none;
}

.nav__links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 16px;
}

.header__controls {
    text-align: end;
}

.header__controls {
    font-size: 14px;
}

.header__controls button {
    background-color: #025157;
    color: white;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 8px;
    transition: all .2s ease-in-out;
    margin-left: 10px;
}

.header__controls button:hover {
    background-color: #67b54b;
}

.start {
    grid-area: start;
}

.start h1{
    font-size: 68px;
    color: #025157;
}

.start p:first-of-type{
    font-size:20px;
    color:#46484c;
    margin-bottom: 20px;
}

.start button{
    background-color: #67b54b;
    color:white;
    margin-right: 20px;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
}

.start p:last-of-type{
    font-size: 14px;
    color:rgba(139,139,139,.8);
    margin-top: 10px;
}

.start-video {
    grid-area: start-video;
}

.start-video>video {
    width: 100%;
}

.companies {
    grid-area: companies;
    font-size: 13px;
    color:rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: 80px;
}
.logos__companies{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.topFeatures{
    grid-area: topFeatures;
    text-align: center;
    margin-top: 40px;
}

.grid-container-matcha {
    display: grid;
    grid-template-areas: 
    'headerMatcha headerMatcha headerMatcha headerMatcha'
    'start start start-video start-video'
    'companies companies companies companies'
    'topFeatures topFeatures topFeatures topFeatures'
    'tools tools tools tools'
    'testimonials testimonials testimonials testimonials'
    'compare compare compare compare'
    'integrations integrations integrations integrations'
    'moreInfo moreInfo moreInfo moreInfo'
    'getStarted getStarted getStarted getStarted'
    'footerMatcha footerMatcha footerMatcha footerMatcha';
    gap: 15px;
    background-color: burlywood;
    padding: 10px;
}